
   .h3-wc-area {
    z-index: 1;
  }

  .h3-wc-area {
    z-index: 1;
  }

  .team-grid {
    display: flex;          
    flex-wrap: wrap;        
    justify-content: center; 
    align-items: center;    
    gap: 2.5rem;
}